.user-gray {
    color: gray !important;
}

.user-red {
    color: red !important;
}

.user-orange {
    color: #FF8C00 !important;
}

.user-violet {
    color: #a0a !important;
}

.user-blue {
    color: blue !important;
}

.user-cyan {
    color: #03A89E !important;
}

.user-green {
    color: green !important;
}

.legendary-user-first-letter {
    color: black !important;
}

.user-legendary {
    color: red !important;
}

TR.standExt0 {
    BACKGROUND-COLOR: #F8F8F8;
}

TR.standExt1 {
    BACKGROUND-COLOR: #F2F2F2;
}

TR.standExt2 {
    BACKGROUND-COLOR: #E0E0FF;
}

TR.standExt3 {
    BACKGROUND-COLOR: #E8E8FF;
}

TD.stndExt {
    font-size: 12px;
    border-width: 0px;
    border-color: #000000;
    margin: 1px;
}